<configuration scan="true">

  <property name="LOG_FILE_DIRECTORY" value="logs/demo" />

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SPRING">
    <file>${LOG_FILE_DIRECTORY}-spring.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${LOG_FILE_DIRECTORY}.%d{yyyy-MM-dd}.%i-spring.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="INBOUND_IMPL">
    <file>${LOG_FILE_DIRECTORY}-inbound-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${LOG_FILE_DIRECTORY}.%d{yyyy-MM-dd}.%i-inbound-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="OUTBOUND_IMPL">
    <file>${LOG_FILE_DIRECTORY}-outbound-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${LOG_FILE_DIRECTORY}.%d{yyyy-MM-dd}.%i-outbound-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="CONTROLLER">
    <file>${LOG_FILE_DIRECTORY}-controller.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${LOG_FILE_DIRECTORY}.%d{yyyy-MM-dd}.%i-controller.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SERVICE_IMPL">
    <file>${LOG_FILE_DIRECTORY}-service-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${LOG_FILE_DIRECTORY}.%d{yyyy-MM-dd}.%i-service-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger additivity="true" level="INFO" name="com.example.demo.controller">
    <appender-ref ref="CONTROLLER"/>
  </logger>

  <logger additivity="true" level="DEBUG" name="com.example.demo.service.impl">
    <appender-ref ref="SERVICE_IMPL"/>
  </logger>

  <logger additivity="true" level="INFO" name="com.example.demo.outbound.impl">
    <appender-ref ref="OUTBOUND_IMPL"/>
  </logger>

  <logger additivity="true" level="INFO" name="com.example.demo.inbound.impl">
    <appender-ref ref="INBOUND_IMPL"/>
  </logger>

  <logger additivity="true" level="INFO" name="org.springframework">
    <appender-ref ref="SPRING"/>
  </logger>

</configuration>